body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: #F4EEFF;
    padding: 10px;
    text-align: right;
}

#navbar button {
    background: none;
    border: none;
    color: black;
    margin: 0 10px;
    cursor: pointer;
}

#navbar button:hover {
    text-decoration: underline;
}

#content {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form textarea, form button {
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
}

form button {
    background-color: #F4EEFF;
    color: black;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}
#create-post-btn{
    margin-bottom: 20px;
}
.list-group-item {
    margin-bottom: 10px;
}
.small-btn {
    padding: 1px 6px; 
    font-size: 12px; 
}
p.styled-paragraph {
    min-height: 200px; 
    background-color: white;
}
#create-post-content{
    min-height: 200px; 
}
.logo {
    margin-bottom: 20px;
    display: block;
    margin: 0 auto 20px;
    max-width: 150px;
    height: 150px;
}